body {
  height: 100vh;
  justify-content: center;
  gap: 10px;

  margin-top: 2%;
  font-family: "indivisible", sans-serif;
}

/* ----------------------------------- */
/* button----------------------------- */
/* ----------------------------------- */

button {
  padding: 10px;
  width: 100px;
  font-family: "indivisible", sans-serif;
  font-size: large;
  font-weight: bolder;
  border: none;
  background-color: white;
  text-align: left;
}

#play-pause {
  align-self: flex-end;
}

textarea {
  padding: 10px;
  height: 300px;
}

.played {
  color: red;
}
.not-played {
  color: black;
}

/* --------------------------------------- */
/* tab groups----------------------------- */
/* --------------------------------------- */

#tab-groups {
  display: flex;
  justify-content: flex-end;
}

hr {
  height: 2px;
  background-color: black;
  color: black;
}

#lineBreak {
  background-color: black;
  height: 1px;
  margin-bottom: 50px;
}

section {
  display: flex;
  flex-direction: column;
  font-family: "indivisible", sans-serif;
  position: relative;
  height: 70vh;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}
