body {
  font-family: "Open Sans", sans-serif;
  margin-left: 3%;
  margin-right: 3%;
}

h1 {
  font-weight: 500;
}

h2 {
  font-size: medium;
}

/*-----------------------------------*/
/* Tabs -----------------------------*/
/*-----------------------------------*/

.tab {
  background-color: white;
  padding: 10px 30px 10px 10px;
  border: 1.5px solid black;
}

.tabLine {
  background-color: black;
  height: 2px;
}

/*-----------------------------------*/
/* Holdspace.  ----------------------*/
/*-----------------------------------*/
.holdspace {
  border: 1px solid black;
  background-color: black;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 500px;
  flex-direction: column;
}

#infoHoldTitle {
  color: white;
}

.interBtn {
  border: 1px solid #0540f5;
  background-color: white;
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
  color: #0540f5;
  font-weight: bold;
}

/*-----------------------------------*/
/* Inter.      ----------------------*/
/*-----------------------------------*/

.inter {
  border: 1px solid #0540f5;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 500px;
  flex-direction: column;

  font-family: "Courier New", Courier, monospace;
}

.interBtn {
  border: 1px solid #0540f5;
  background-color: white;
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
  color: #0540f5;
  font-weight: bold;
}

/*-----------------------------------*/
/* Information ----------------------*/
/*-----------------------------------*/

.information {
  display: flex;
  gap: 10px;
}
.header {
  margin-top: 40px;
  font-weight: bolder;
}

.text {
  text-align: center;
  padding: 20px;

  font-family: "Open Sans", sans-serif;
}
